<ion-header>
  <ion-navbar color="senyumDifabel">
      <ion-grid no-padding>          
          <ion-row no-padding>
            <ion-col col-10 no-padding text-center>
              <ion-searchbar (ionInput)="getItems($event)" placeholder="Search job..."></ion-searchbar>
            </ion-col>
            <ion-col col-2 text-center no-padding>
              <ion-icon color="dark" class="ButtonRight" name="md-mic" (click)="openInterview()"></ion-icon>
            </ion-col>
          </ion-row>
    </ion-grid>
  </ion-navbar>
</ion-header>


<ion-content class="backgroundColor">

<div *ngIf="!statusSearch">
  <ion-grid no-padding class="headerContent">          
    <ion-row no-padding text-center>
      <ion-col (click)="open('saved')" col-4 no-padding class="contentHeader">
        <span class="numberHeader">{{saved}}</span>
        <br />
        <span class="textHeader">Saved Jobs</span>            
      </ion-col>
      <ion-col (click)="open('applied')" col-4 no-padding class="contentHeader contentCenter">
        <span class="numberHeader">{{applied}}</span>
        <br />
        <span class="textHeader">Applied Jobs</span>            
      </ion-col>
      <ion-col (click)="open('attended')" col-4 no-padding class="contentHeader">
        <span class="numberHeader">{{interview}}</span>
        <br />
        <span class="textHeader">Interview Attended</span>            
      </ion-col>
    </ion-row>
  </ion-grid>

  <div *ngFor="let data of jobs" class="jobCard">
    <div class="headerJob">
      <span class="headerText">{{data.date}}</span>
      <ion-icon [hidden]='data.flag_bookmark == "1"' (click)="changeBookmark(data)" name="ios-bookmark-outline" class="buttonCustom"></ion-icon>
      <ion-icon [hidden]='data.flag_bookmark == "0"' (click)="changeBookmark(data)" name="ios-bookmark" class="buttonCustom"></ion-icon>
    </div>
    <div (click)="openJobDetail(data)">
      <!-- <img  class="pictHeader" src="assets/imgs/cover.JPG" /> -->
      <!-- <img  class="pictCompany" src="assets/imgs/bukalapak.png" /> -->
      <div class="contentJob">
        <div>
          <span class="company">{{data.company_name}}</span>
          <br />
          <span class="position">{{data.name}}</span>
        </div>
        <div class="detailJob">
          <span class="skill"><ion-icon name="ios-briefcase" class="iconContent"></ion-icon>&nbsp;&nbsp;IT dan Telekomunikasi</span>
          <br />
          <span class="seek"><ion-icon name="ios-bowtie" class="iconContent"></ion-icon>&nbsp;&nbsp;Tuna Rungu dan Tuna Wicara</span>
          <br />
          <span class="location"><ion-icon name="md-pin" class="iconContent"></ion-icon>&nbsp;&nbsp;Jakarta</span>
          <span class="readMore">Read More ></span>
        </div>
      </div>
    </div>
  </div>
</div>


<div *ngIf="statusSearch">
  <div class="jobCard">
    <div class="headerJob">
      <span class="headerText">Deadline: 1 juni 2018</span>
      <ion-icon [hidden]='data.flag_bookmark == "1"' (click)="changeBookmark(data)" name="ios-bookmark-outline" class="buttonCustom"></ion-icon>
      <ion-icon [hidden]='data.flag_bookmark == "0"' (click)="changeBookmark(data)" name="ios-bookmark" class="buttonCustom"></ion-icon>
    </div>
    <img  class="pictHeader" src="assets/imgs/cardContent.jpg" />
    <img  class="pictCompany" src="assets/imgs/bukalapak.png" />
    <div class="contentJob">
      <div>
        <span class="company">Bukalapak</span>
        <br />
        <span class="position">Backend Engineer</span>
      </div>
      <div class="detailJob">
        <span class="skill"><ion-icon name="ios-briefcase" class="iconContent"></ion-icon>&nbsp;&nbsp;IT dan Telekomunikasi</span>
        <br />
        <span class="seek"><ion-icon name="ios-bowtie" class="iconContent"></ion-icon>&nbsp;&nbsp;Tuna Rungu dan Tuna Wicara</span>
        <br />
        <span class="location"><ion-icon name="md-pin" class="iconContent"></ion-icon>&nbsp;&nbsp;Jakarta</span>
        <span class="readMore">Read More ></span>
      </div>
    </div>
  </div>
</div>


</ion-content>