page-job-apply {

    .background{
        background-color:#2c384e; 
    }

    .mainProfile{
        background-color: white;
        border-radius: 2.5%;

        position: relative;
        top: 12.5vw;

        margin: 4vw 4vw 0vw 4vw;
        padding: 0 2vw 2vw 2vw;
    }

    .pictProfile{
        width: 40vw;
        border: solid 3px #fac608;
        border-radius: 100%;
        display: block;
        margin: auto;

        position: relative;
        z-index:2000;
        bottom: 12.5vw;
    }

    .textProfile{
        position: relative;
        bottom: 10vw;
    }

    .name{
        font-size: 1.2em;
        font-weight: 500;
        color: #222;
    }

    .position{
        font-size: 1.5em;
        font-weight: 700;
        color: #222;
    }

    .location{
        font-size: 1em;
        font-weight: 500;
        color: gray;
    }

    

    .buttonWord{
        text-transform: capitalize;
        font-size: 1.5em;
    }

    .pictLogo{
        height: 2em;
        margin-top: 1vw;
        margin-left: 2vw;

        position: absolute;
        right: 1em;
        bottom: 1em;
    }
}
